* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
   
    max-width: 1600px;
    margin: 0 auto;
    background-image: url(./blar.avif);

  
    height: 850px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding-top: 80px;
}

.apply_box {
    

    max-width: 600px;
    padding: 20px;
    background-color: rgb(238, 251, 251);
    margin: 0 auto;
    
    box-shadow: 30px 15px 30px rgba(99, 97, 97, 0.2);
    border-radius: 10px;
}

.title_small {
    font-size: 20px;
}

.form_container {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.form_control {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 15px;
    margin-bottom: 5px;
}

input,
select,
textarea {
    padding: 6px 10px;
    border: 1px solid #111111;
    border-radius: 5px;
    font-size: 15px;

}

input:focus {
    outline-color: red;
}

.button_container {

    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

button {
    background-color: rgb(239, 5, 5);
    border: transparent solid 2px;
    padding: 10px;
    color: white;
    border-radius: 8px;
    transition: 0.3s ease-in;

}

button:hover {
    background-color: #ccc;
    color: black;
    border: 2px solid red;
    transition: 0.3s ease-out;
    cursor: pointer;
}

.textarea_control {
    grid-column: 1 / span 2;

}

.textarea_control textarea {
    width: 100%;
}

@media(max-width:460px) {
    .textarea_control {
        grid-column: 1 / span 1;

    }
}